.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textField-and-button 
.MuiFormControl-root {
    margin-right: 0 !important;
}


.textField-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textField-and-button .MuiButtonBase-root {
    margin-top: 1.0rem;
}